Producer/src/main/resources/wsdl/AccountService_1_2_3_4_5_6_7_8.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://soap.crmapi.util.redknee.com/subscriptions/xsd/2011/01" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:calldetailv1_0dtns="http://soap.crmapi.util.redknee.com/calldetails/xsd/2009/04" xmlns:calldetailv2_0dtns="http://soap.crmapi.util.redknee.com/calldetails/xsd/2011/03" xmlns:crmapi_faults="http://soap.crmapi.util.redknee.com/common/exception/xsd/2008/08" xmlns:dtns="http://soap.crmapi.util.redknee.com/common/xsd/2008/08" xmlns:exns="http://soap.crmapi.util.redknee.com/common/exception/xsd/2008/08" xmlns:serviceandbundledtns="http://soap.crmapi.util.redknee.com/servicesandbundles/xsd/2011/01" xmlns:serviceandbundlev1_0dtns="http://soap.crmapi.util.redknee.com/servicesandbundles/xsd/2009/04" xmlns:serviceandbundlev1_1dtns="http://soap.crmapi.util.redknee.com/servicesandbundles/xsd/2010/06" xmlns:serviceandbundlev1_2dtns="http://soap.crmapi.util.redknee.com/servicesandbundles/xsd/2010/11" xmlns:subscriptiondtns="http://soap.crmapi.util.redknee.com/subscriptions/xsd/2011/01" xmlns:subscriptionv1_1dtns="http://soap.crmapi.util.redknee.com/subscriptions/xsd/2009/04" xmlns:subscriptionv1_2dtns="http://soap.crmapi.util.redknee.com/subscriptions/xsd/2010/06" xmlns:subscriptionv1_3dtns="http://soap.crmapi.util.redknee.com/subscriptions/xsd/2010/11">
  <xs:import namespace="http://soap.crmapi.util.redknee.com/common/xsd/2008/08" schemaLocation="AccountService_1.xsd"/>
  <xs:import namespace="http://soap.crmapi.util.redknee.com/common/exception/xsd/2008/08" schemaLocation="AccountService.xsd"/>
  <xs:import namespace="http://soap.crmapi.util.redknee.com/servicesandbundles/xsd/2009/04" schemaLocation="AccountService_1_2_3_4_5_6_7_8_9.xsd"/>
  <xs:import namespace="http://soap.crmapi.util.redknee.com/servicesandbundles/xsd/2010/06" schemaLocation="AccountService_1_2_3_4_5_6_7_8_9_10.xsd"/>
  <xs:import namespace="http://soap.crmapi.util.redknee.com/servicesandbundles/xsd/2010/11" schemaLocation="AccountService_1_2_3_4_5_6_7_8_9_10_11.xsd"/>
  <xs:import namespace="http://soap.crmapi.util.redknee.com/servicesandbundles/xsd/2011/01" schemaLocation="AccountService_1_2_3_4_5_6_7_8_9_10_11_12.xsd"/>
  <xs:import namespace="http://soap.crmapi.util.redknee.com/subscriptions/xsd/2009/04" schemaLocation="AccountService_1_2_3_4_5_6_7_8_9_10_11_12_13_14.xsd"/>
  <xs:import namespace="http://soap.crmapi.util.redknee.com/subscriptions/xsd/2010/06" schemaLocation="AccountService_1_2_3_4_5_6_7_8_9_10_11_12_13.xsd"/>
  <xs:import namespace="http://soap.crmapi.util.redknee.com/subscriptions/xsd/2010/11" schemaLocation="AccountService_1_2_3_4_5_6_7_8_9_10_11_12_13_14_15.xsd"/>
  <xs:import namespace="http://soap.crmapi.util.redknee.com/calldetails/xsd/2009/04" schemaLocation="AccountService_1_2_3_4_5_6_7_8_9_10_11_12_13_14_15_16.xsd"/>
  <xs:import namespace="http://soap.crmapi.util.redknee.com/calldetails/xsd/2011/03" schemaLocation="AccountService_1_2_3_4_5_6_7_8_9_10_11_12_13_14_15_16_17.xsd"/>
  <xs:element name="SubscriptionUpdateFeeBreakdownType" type="subscriptiondtns:SubscriptionUpdateFeeBreakdownType"/>
  <xs:simpleType name="SubscriptionUpdateFeeBreakdownType">
    <xs:restriction base="xs:long">
      <xs:enumeration value="1">
        <xs:annotation>
          <xs:documentation>Contract</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="2">
        <xs:annotation>
          <xs:documentation>Price Plan and Auxiliary</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="3">
        <xs:annotation>
          <xs:documentation>Deposit</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SubscriptionPricePlan" type="subscriptiondtns:SubscriptionPricePlan"/>
  <xs:complexType name="SubscriptionPricePlan">
    <xs:sequence>
      <xs:element name="isSelected" type="xs:boolean"/>
      <xs:element minOccurs="0" name="pricePlanDetails" nillable="true" type="serviceandbundledtns:PricePlan"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="items" nillable="true" type="serviceandbundledtns:PricePlanOption"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="parameters" nillable="true" type="dtns:GenericParameter"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReadOnlySubscriptionRating" type="subscriptiondtns:ReadOnlySubscriptionRating"/>
  <xs:complexType name="ReadOnlySubscriptionRating">
    <xs:complexContent>
      <xs:extension base="subscriptiondtns:SubscriptionRating">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="enabledAuxiliaryBundles" nillable="true" type="xs:long"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="enabledAuxiliaryServices" nillable="true" type="xs:long"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="enabledOptionalBundles" nillable="true" type="xs:long"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="enabledOptionalPackages" nillable="true" type="xs:long"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="enabledOptionalServices" nillable="true" type="xs:long"/>
          <xs:element minOccurs="0" name="pricePlanVersion" nillable="true" type="xs:long"/>
          <xs:element minOccurs="0" name="contractStart" nillable="true" type="xs:dateTime"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SubscriptionRating" type="subscriptiondtns:SubscriptionRating"/>
  <xs:complexType name="SubscriptionRating">
    <xs:sequence>
      <xs:element minOccurs="0" name="primaryPricePlanID" nillable="true" type="xs:long"/>
      <xs:element minOccurs="0" name="secondaryPricePlanEnd" nillable="true" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="secondaryPricePlanID" nillable="true" type="xs:long"/>
      <xs:element minOccurs="0" name="secondaryPricePlanStart" nillable="true" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="contractID" nillable="true" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubscriptionProfileQueryResults" type="subscriptiondtns:SubscriptionProfileQueryResults"/>
  <xs:complexType name="SubscriptionProfileQueryResults">
    <xs:sequence>
      <xs:element minOccurs="0" name="billing" nillable="true" type="subscriptionv1_1dtns:ReadOnlySubscriptionBilling"/>
      <xs:element minOccurs="0" name="profile" nillable="true" type="subscriptionv1_2dtns:ReadOnlySubscriptionProfile"/>
      <xs:element minOccurs="0" name="rating" nillable="true" type="subscriptiondtns:ReadOnlySubscriptionRating"/>
      <xs:element minOccurs="0" name="status" nillable="true" type="subscriptionv1_1dtns:ReadOnlySubscriptionStatus"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubscriptionContractUpdateResults" type="subscriptiondtns:SubscriptionContractUpdateResults"/>
  <xs:complexType name="SubscriptionContractUpdateResults">
    <xs:sequence>
      <xs:element name="oldPricePlanID" type="xs:long"/>
      <xs:element name="newPricePlanID" type="xs:long"/>
      <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:dateTime"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="parameters" nillable="true" type="dtns:GenericParameter"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubscriptionContractReference" type="subscriptiondtns:SubscriptionContractReference"/>
  <xs:complexType name="SubscriptionContractReference">
    <xs:sequence>
      <xs:element name="identifier" type="xs:long"/>
      <xs:element name="spid" type="xs:int"/>
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
      <xs:element name="period" type="xs:int"/>
      <xs:element name="paidType" type="xs:long"/>
      <xs:element name="subscriptionType" type="xs:int"/>
      <xs:element name="adjustmentTypeID" type="xs:long"/>
      <xs:element name="prepaymentAmount" type="xs:long"/>
      <xs:element name="prepaymentPeriod" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubscriptionContract" type="subscriptiondtns:SubscriptionContract"/>
  <xs:complexType name="SubscriptionContract">
    <xs:complexContent>
      <xs:extension base="subscriptiondtns:SubscriptionContractReference">
        <xs:sequence>
          <xs:element name="defaultPricePlanID" type="xs:long"/>
          <xs:element name="defaultPostContractPricePlanID" type="xs:long"/>
          <xs:element minOccurs="0" name="policySummary" nillable="true" type="xs:string"/>
          <xs:element name="prepaymentRefunded" type="xs:boolean"/>
          <xs:element minOccurs="0" name="perMonthPenaltyAmount" nillable="true" type="xs:long"/>
          <xs:element minOccurs="0" name="minimumPenaltyAmount" nillable="true" type="xs:long"/>
          <xs:element name="bonusPeriod" type="xs:int"/>
          <xs:element name="maximumBonusAmount" type="xs:long"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SubscriptionUpdateCriteria" type="subscriptiondtns:SubscriptionUpdateCriteria"/>
  <xs:complexType name="SubscriptionUpdateCriteria">
    <xs:sequence>
      <xs:element minOccurs="0" name="reference" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PricePlanSubscriptionUpdateCriteria" type="subscriptiondtns:PricePlanSubscriptionUpdateCriteria"/>
  <xs:complexType name="PricePlanSubscriptionUpdateCriteria">
    <xs:complexContent>
      <xs:extension base="subscriptiondtns:SubscriptionUpdateCriteria">
        <xs:sequence>
          <xs:element name="options" type="subscriptiondtns:SubscriptionPricePlan"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="parameters" nillable="true" type="dtns:GenericParameter"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ContractSubscriptionUpdateCriteria" type="subscriptiondtns:ContractSubscriptionUpdateCriteria"/>
  <xs:complexType name="ContractSubscriptionUpdateCriteria">
    <xs:complexContent>
      <xs:extension base="subscriptiondtns:SubscriptionUpdateCriteria">
        <xs:sequence>
          <xs:element name="contractId" type="xs:long"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="parameters" nillable="true" type="dtns:GenericParameter"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SubscriptionUpdateCriteriaResults" type="subscriptiondtns:SubscriptionUpdateCriteriaResults"/>
  <xs:complexType name="SubscriptionUpdateCriteriaResults">
    <xs:sequence>
      <xs:element minOccurs="0" name="reference" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PricePlanSubscriptionUpdateCriteriaResults" type="subscriptiondtns:PricePlanSubscriptionUpdateCriteriaResults"/>
  <xs:complexType name="PricePlanSubscriptionUpdateCriteriaResults">
    <xs:complexContent>
      <xs:extension base="subscriptiondtns:SubscriptionUpdateCriteriaResults">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="optionResults" nillable="true" type="serviceandbundlev1_1dtns:PricePlanOptionUpdateResult"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="parameters" nillable="true" type="dtns:GenericParameter"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ContractSubscriptionUpdateCriteriaResults" type="subscriptiondtns:ContractSubscriptionUpdateCriteriaResults"/>
  <xs:complexType name="ContractSubscriptionUpdateCriteriaResults">
    <xs:complexContent>
      <xs:extension base="subscriptiondtns:SubscriptionUpdateCriteriaResults">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="parameters" nillable="true" type="dtns:GenericParameter"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SubscriptionUpdateFeeBreakdown" type="subscriptiondtns:SubscriptionUpdateFeeBreakdown"/>
  <xs:complexType name="SubscriptionUpdateFeeBreakdown">
    <xs:sequence>
      <xs:element minOccurs="0" name="fee" nillable="true" type="xs:long"/>
      <xs:element minOccurs="0" name="type" nillable="true" type="subscriptiondtns:SubscriptionUpdateFeeBreakdownType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubscriptionUpdateFees" type="subscriptiondtns:SubscriptionUpdateFees"/>
  <xs:complexType name="SubscriptionUpdateFees">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="criteriaResults" nillable="true" type="subscriptiondtns:SubscriptionUpdateCriteriaResults"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="feeBreakdown" nillable="true" type="subscriptiondtns:SubscriptionUpdateFeeBreakdown"/>
      <xs:element minOccurs="0" name="totalFee" nillable="true" type="xs:long"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="parameters" nillable="true" type="dtns:GenericParameter"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BaseSubscriptionExtension">
    <xs:complexContent>
      <xs:extension base="subscriptionv1_2dtns:BaseMutableSubscriptionExtension"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BaseReadOnlySubscriptionExtension">
    <xs:complexContent>
      <xs:extension base="subscriptiondtns:BaseSubscriptionExtension"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SubscriptionReference" type="subscriptiondtns:SubscriptionReference"/>
  <xs:complexType name="SubscriptionReference">
    <xs:sequence>
      <xs:element minOccurs="0" name="accountID" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="mobileNumber" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="mobileNumberOwnership" nillable="true" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="spid" nillable="true" type="xs:int"/>
      <xs:element minOccurs="0" name="subscriptionType" nillable="true" type="xs:int"/>
      <xs:element minOccurs="0" name="state" nillable="true" type="subscriptionv1_1dtns:SubscriptionState"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="parameters" nillable="true" type="dtns:GenericParameter"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BucketHistoryReference" type="subscriptiondtns:BucketHistoryReference"/>
  <xs:complexType name="BucketHistoryReference">
    <xs:sequence>
      <xs:element minOccurs="0" name="identifier" type="xs:long"/>
      <xs:element minOccurs="0" name="date" nillable="true" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="spid" type="xs:int"/>
      <xs:element minOccurs="0" name="accountID" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="subscriptionID" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="bundleID" type="xs:long"/>
      <xs:element minOccurs="0" name="bundleCategoryID" type="xs:int"/>
      <xs:element minOccurs="0" name="operation" nillable="true" type="serviceandbundledtns:BundleAdjustmentOperationType"/>
      <xs:element minOccurs="0" name="amount" type="xs:long"/>
      <xs:element minOccurs="0" name="balance" type="xs:long"/>
      <xs:element minOccurs="0" name="unitType" nillable="true" type="subscriptionv1_2dtns:SubscriptionBundleUnitType"/>
      <xs:element minOccurs="0" name="expiryTime" nillable="true" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="reference" nillable="true" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="parameters" nillable="true" type="dtns:GenericParameter"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BucketHistory" type="subscriptiondtns:BucketHistoryReference"/>
  <xs:complexType name="BucketHistory">
    <xs:complexContent>
      <xs:extension base="subscriptiondtns:BucketHistoryReference">
        <xs:sequence>
          <xs:element minOccurs="0" name="bucketID" type="xs:long"/>
          <xs:element minOccurs="0" name="expiryExtension" type="xs:int"/>
          <xs:element minOccurs="0" name="adjustmentType" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BucketHistoryQueryResult" type="subscriptiondtns:BucketHistoryQueryResult"/>
  <xs:complexType name="BucketHistoryQueryResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="pageKey" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="references" nillable="true" type="subscriptiondtns:BucketHistoryReference"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="parameters" nillable="true" type="dtns:GenericParameter"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DetailedBucketHistoryQueryResult" type="subscriptiondtns:DetailedBucketHistoryQueryResult"/>
  <xs:complexType name="DetailedBucketHistoryQueryResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="pageKey" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="references" nillable="true" type="subscriptiondtns:BucketHistory"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="parameters" nillable="true" type="dtns:GenericParameter"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BaseSubscriptionExtensionReference">
    <xs:sequence>
      <xs:element minOccurs="0" name="subscriptionRef" nillable="true" type="subscriptiondtns:SubscriptionReference"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VoucherOrder" type="subscriptiondtns:VoucherOrder"/>
  <xs:complexType name="VoucherOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="orderResult" nillable="true" type="dtns:ResultCode"/>
      <xs:element name="subscriptionRef" type="subscriptiondtns:SubscriptionReference"/>
      <xs:element name="voucher" type="xs:string"/>
      <xs:element minOccurs="0" name="exception" nillable="true" type="exns:CRMException"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VoucherBatchResults" type="subscriptiondtns:VoucherBatchResults"/>
  <xs:complexType name="VoucherBatchResults">
    <xs:complexContent>
      <xs:extension base="dtns:BatchResults">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="orders" nillable="true" type="subscriptiondtns:VoucherOrder"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SubscriptionStateTransitionResult" type="subscriptiondtns:SubscriptionStateTransitionResult"/>
  <xs:complexType name="SubscriptionStateTransitionResult">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="parameters" nillable="true" type="dtns:GenericParameter"/>
      <xs:element minOccurs="0" name="oldState" nillable="true" type="subscriptionv1_1dtns:SubscriptionState"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BucketHistoryCreateResult" type="subscriptiondtns:BucketHistoryCreateResult"/>
  <xs:complexType name="BucketHistoryCreateResult">
    <xs:sequence>
      <xs:element name="status" type="xs:boolean"/>
      <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:long"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="parameters" nillable="true" type="dtns:GenericParameter"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubscriptionStateTransitionException" type="subscriptiondtns:SubscriptionStateTransitionException"/>
  <xs:complexType name="SubscriptionStateTransitionException">
    <xs:complexContent>
      <xs:extension base="exns:CRMException">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="parameters" nillable="true" type="dtns:GenericParameter"/>
          <xs:element minOccurs="0" name="oldState" nillable="true" type="subscriptionv1_1dtns:SubscriptionState"/>
          <xs:element minOccurs="0" name="requestedState" nillable="true" type="subscriptionv1_1dtns:SubscriptionState"/>
          <xs:element minOccurs="0" name="currentState" nillable="true" type="subscriptionv1_1dtns:SubscriptionState"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SubscriptionBundleBalanceSummary" type="subscriptiondtns:SubscriptionBundleBalanceSummary"/>
  <xs:complexType name="SubscriptionBundleBalanceSummary">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="bundleBalances" nillable="true" type="subscriptionv1_2dtns:ReadOnlySubscriptionBundle"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="categorySummaries" nillable="true" type="subscriptionv1_1dtns:SubscriptionBundleBalance"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="parameters" nillable="true" type="dtns:GenericParameter"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubscriptionContractStatus" type="subscriptiondtns:SubscriptionContractStatus"/>
  <xs:complexType name="SubscriptionContractStatus">
    <xs:sequence>
      <xs:element name="contractId" type="xs:long"/>
      <xs:element name="startDate" type="xs:date"/>
      <xs:element name="endDate" type="xs:date"/>
      <xs:element name="subsidy" type="xs:long"/>
      <xs:element name="penaltyFeePerMonth" type="xs:long"/>
      <xs:element name="cancellationFee" type="xs:long"/>
      <xs:element name="cancellationIsProrated" type="xs:boolean"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="parameter" nillable="true" type="dtns:GenericParameter"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubscriptionContractStatusQueryResult" type="subscriptiondtns:SubscriptionContractStatusQueryResult"/>
  <xs:complexType name="SubscriptionContractStatusQueryResult">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="contractStatus" nillable="true" type="subscriptiondtns:SubscriptionContractStatus"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="parameter" nillable="true" type="dtns:GenericParameter"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubscriptionSecondaryBalanceReference" type="subscriptiondtns:SubscriptionSecondaryBalanceReference"/>
  <xs:complexType name="SubscriptionSecondaryBalanceReference">
    <xs:sequence>
      <xs:element name="categoryId" type="xs:int"/>
      <xs:element name="amountInSecondaryBalanceBucket" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubscriptionSecondaryBalanceQueryResult" type="subscriptiondtns:SubscriptionSecondaryBalanceQueryResult"/>
  <xs:complexType name="SubscriptionSecondaryBalanceQueryResult">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="subscriptionSecondaryBalanceReference" nillable="true" type="subscriptiondtns:SubscriptionSecondaryBalanceReference"/>
      <xs:element name="status" type="xs:int"/>
      <xs:element name="statusMessage" nillable="true" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="parameter" nillable="true" type="dtns:GenericParameter"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MergedBalanceHistoryResult" type="subscriptiondtns:MergedBalanceHistoryResult"/>
  <xs:complexType name="MergedBalanceHistoryResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="pageKey" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="recordLimitReached" type="xs:boolean"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="results" nillable="true" type="subscriptiondtns:MergedBalanceHistory"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MergedBalanceHistory" type="subscriptiondtns:MergedBalanceHistory"/>
  <xs:complexType name="MergedBalanceHistory">
    <xs:sequence>
      <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:long"/>
      <xs:element minOccurs="0" name="recordType" type="xs:long"/>
      <xs:element minOccurs="0" name="msisdn" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="receivedDate" nillable="true" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="transactionDate" nillable="true" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="debit" nillable="true" type="xs:long"/>
      <xs:element minOccurs="0" name="credit" nillable="true" type="xs:long"/>
      <xs:element minOccurs="0" name="balance" nillable="true" type="xs:long"/>
      <xs:element minOccurs="0" name="callAdjustmentType" nillable="true" type="xs:long"/>
      <xs:element minOccurs="0" name="callAdjustmentTypeDescription" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="usage" nillable="true" type="xs:long"/>
      <xs:element minOccurs="0" name="billingCatagory" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="usageType" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="origMSISDN" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="destMSISDN" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="origPartyLocation" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="destPartyLocation" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="dataUsage" nillable="true" type="xs:long"/>
      <xs:element minOccurs="0" name="bundleUsage" nillable="true" type="xs:long"/>
      <xs:element minOccurs="0" name="variableRateUnits" nillable="true" type="calldetailv1_0dtns:VariableRateUnitType"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="bundleInfo" nillable="true" type="calldetailv2_0dtns:ChargedBundleInfo"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="parameters" nillable="true" type="dtns:GenericParameter"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConvertSubscriptionDetail" type="subscriptiondtns:ConvertSubscriptionDetail"/>
  <xs:complexType name="ConvertSubscriptionDetail">
    <xs:sequence>
      <xs:element name="originalIdentifier" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="msisdn" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="toBillingType" nillable="true" type="dtns:SystemType"/>
      <xs:element minOccurs="0" name="priceplanDetails" nillable="true" type="subscriptiondtns:ConvertSubscriptionPriceplanDetails"/>
      <xs:element minOccurs="0" name="billing" type="subscriptionv1_1dtns:SubscriptionBilling"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="parameter" nillable="true" type="dtns:GenericParameter"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConvertSubscriptionPriceplanDetails" type="subscriptiondtns:ConvertSubscriptionPriceplanDetails"/>
  <xs:complexType name="ConvertSubscriptionPriceplanDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="priceplanId" nillable="true" type="xs:long"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="parameter" nillable="true" type="dtns:GenericParameter"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>