Producer/src/main/resources/wsdl/AccountService_1_2_3_4_5_6.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://soap.crmapi.util.redknee.com/accounts/xsd/2011/01" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:accountdtns="http://soap.crmapi.util.redknee.com/accounts/xsd/2011/01" xmlns:accountv1_0dtns="http://soap.crmapi.util.redknee.com/accounts/xsd/2009/04" xmlns:accountv1_1dtns="http://soap.crmapi.util.redknee.com/accounts/xsd/2010/06" xmlns:commons_dtns="http://soap.crmapi.util.redknee.com/common/xsd/2011/05" xmlns:crmapi_faults="http://soap.crmapi.util.redknee.com/common/exception/xsd/2008/08" xmlns:dtns="http://soap.crmapi.util.redknee.com/common/xsd/2008/08" xmlns:exns="http://soap.crmapi.util.redknee.com/common/exception/xsd/2008/08" xmlns:generalprovv2_0dtns="http://soap.crmapi.util.redknee.com/generalprovisioning/xsd/2011/01" xmlns:subscriptiondtns="http://soap.crmapi.util.redknee.com/subscriptions/xsd/2011/01">
  <xs:import namespace="http://soap.crmapi.util.redknee.com/common/xsd/2008/08" schemaLocation="AccountService_1.xsd"/>
  <xs:import namespace="http://soap.crmapi.util.redknee.com/common/xsd/2011/05" schemaLocation="AccountService_1_2.xsd"/>
  <xs:import namespace="http://soap.crmapi.util.redknee.com/common/exception/xsd/2008/08" schemaLocation="AccountService.xsd"/>
  <xs:import namespace="http://soap.crmapi.util.redknee.com/accounts/xsd/2009/04" schemaLocation="AccountService_1_2_3.xsd"/>
  <xs:import namespace="http://soap.crmapi.util.redknee.com/accounts/xsd/2010/06" schemaLocation="AccountService_1_2_3_4.xsd"/>
  <xs:import namespace="http://soap.crmapi.util.redknee.com/generalprovisioning/xsd/2011/01" schemaLocation="AccountService_1_2_3_4_5_6_7.xsd"/>
  <xs:import namespace="http://soap.crmapi.util.redknee.com/subscriptions/xsd/2011/01" schemaLocation="AccountService_1_2_3_4_5_6_7_8.xsd"/>
  <xs:simpleType name="AccountCustomerType">
    <xs:restriction base="xs:long">
      <xs:enumeration value="0">
        <xs:annotation>
          <xs:documentation>Corporate</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="1">
        <xs:annotation>
          <xs:documentation>Government</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="2">
        <xs:annotation>
          <xs:documentation>Staff</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="3">
        <xs:annotation>
          <xs:documentation>Personal</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="GroupHierarchyType">
    <xs:annotation>
      <xs:documentation>The first bit means Group second bit beans Pooled</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:long">
      <xs:enumeration value="0">
        <xs:annotation>
          <xs:documentation>Subscriber</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="1">
        <xs:annotation>
          <xs:documentation>Group</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="3">
        <xs:annotation>
          <xs:documentation>Group Pooled</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DirectDebitInitiationResultType">
    <xs:restriction base="xs:long">
      <xs:enumeration value="0">
        <xs:annotation>
          <xs:documentation>Success</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="1">
        <xs:annotation>
          <xs:documentation>Incomplete Data</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="2">
        <xs:annotation>
          <xs:documentation>Not permitted</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AccountCreationTemplateReference" type="accountdtns:AccountCreationTemplateReference"/>
  <xs:complexType name="AccountCreationTemplateReference">
    <xs:sequence>
      <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:long">
        <xs:annotation>
          <xs:documentation>A unique identifier assigned automatically when the template was created.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="spid" nillable="true" type="xs:int">
        <xs:annotation>
          <xs:documentation>The ID of the service provider to which the account will belong.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>A simple name by which to refer to the template.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="accountType" nillable="true" type="xs:long">
        <xs:annotation>
          <xs:documentation>The ID of the account type of the account.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="groupType" nillable="true" type="accountdtns:GroupHierarchyType">
        <xs:annotation>
          <xs:documentation>The type of group represented by this account: subscriber (individual), group, or pooled group.  Introduced for TCB 9.0.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="systemType" nillable="true" type="dtns:SystemType">
        <xs:annotation>
          <xs:documentation>The system type of the account (i.e., prepaid, postpaid, or hybrid).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountProfileQueryResults" type="accountdtns:AccountProfileQueryResults"/>
  <xs:complexType name="AccountProfileQueryResults">
    <xs:sequence>
      <xs:element minOccurs="0" name="bank" nillable="true" type="accountv1_0dtns:ReadOnlyAccountBankInfo"/>
      <xs:element minOccurs="0" name="billing" nillable="true" type="accountdtns:ReadOnlyAccountBilling"/>
      <xs:element minOccurs="0" name="company" nillable="true" type="accountv1_0dtns:ReadOnlyAccountCompanyContactInfo"/>
      <xs:element minOccurs="0" name="contact" nillable="true" type="accountv1_0dtns:ReadOnlyAccountContactInfo"/>
      <xs:element minOccurs="0" name="detail" nillable="true" type="accountdtns:ReadOnlyAccountDetail"/>
      <xs:element minOccurs="0" name="identification" nillable="true" type="accountdtns:ReadOnlyAccountIdentification"/>
      <xs:element minOccurs="0" name="paymentInfo" nillable="true" type="accountdtns:ReadOnlyAccountPaymentInfo"/>
      <xs:element minOccurs="0" name="profile" nillable="true" type="accountv1_0dtns:ReadOnlyAccountProfile"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="extension" nillable="true" type="accountdtns:BaseReadOnlyAccountExtension"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReadOnlyAccountIdentification" type="accountdtns:ReadOnlyAccountIdentification"/>
  <xs:complexType name="ReadOnlyAccountIdentification">
    <xs:complexContent>
      <xs:extension base="accountdtns:AccountIdentification">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AccountIdentification" type="accountdtns:AccountIdentification"/>
  <xs:complexType name="AccountIdentification">
    <xs:complexContent>
      <xs:extension base="accountdtns:MutableAccountIdentification">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MutableAccountIdentification" type="accountdtns:MutableAccountIdentification"/>
  <xs:complexType name="MutableAccountIdentification">
    <xs:sequence>
      <xs:element minOccurs="0" name="dateOfBirth" nillable="true" type="xs:dateTime"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="identification" nillable="true" type="generalprovv2_0dtns:IdentificationEntry"/>
      <xs:element minOccurs="0" name="occupationID" nillable="true" type="xs:long"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="securityQuestion" nillable="true" type="accountv1_0dtns:SecurityQuestion"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReadOnlyAccountBilling" type="accountdtns:ReadOnlyAccountBilling"/>
  <xs:complexType name="ReadOnlyAccountBilling">
    <xs:complexContent>
      <xs:extension base="accountdtns:AccountBilling">
        <xs:sequence>
          <xs:element minOccurs="0" name="inCollectionDate" nillable="true" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="lastBill" nillable="true" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="subscriptionCategory" nillable="true" type="xs:long"/>
          <xs:element minOccurs="0" name="paymentPlanAmount" nillable="true" type="xs:long"/>
          <xs:element minOccurs="0" name="paymentPlanStartDate" nillable="true" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="paymentPlanMonthlyAmount" nillable="true" type="xs:long"/>
          <xs:element minOccurs="0" name="promiseToPayStartDate" nillable="true" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="promiseToPayTransitions" nillable="true" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AccountBilling" type="accountdtns:AccountBilling"/>
  <xs:complexType name="AccountBilling">
    <xs:complexContent>
      <xs:extension base="accountdtns:MutableAccountBilling">
        <xs:sequence>
          <xs:element name="billCycle" type="xs:long"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MutableAccountBilling" type="accountdtns:MutableAccountBilling"/>
  <xs:complexType name="MutableAccountBilling">
    <xs:sequence>
      <xs:element minOccurs="0" name="billingMessage" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="billingMsgPreference" nillable="true" type="accountv1_0dtns:BillingMessagePreference"/>
      <xs:element minOccurs="0" name="collectionAgentID" nillable="true" type="xs:long"/>
      <xs:element minOccurs="0" name="contractEnd" nillable="true" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="contractID" nillable="true" type="xs:long"/>
      <xs:element minOccurs="0" name="contractStart" nillable="true" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="creditCategory" nillable="true" type="xs:long"/>
      <xs:element minOccurs="0" name="dealerCode" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="discountClass" nillable="true" type="xs:long"/>
      <xs:element minOccurs="0" name="promiseToPayDate" nillable="true" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="taxAuthority" nillable="true" type="xs:long"/>
      <xs:element minOccurs="0" name="taxExemption" nillable="true" type="xs:boolean"/>
      <xs:element minOccurs="0" name="useIfNoSubCreditInfo" nillable="true" type="xs:boolean"/>
      <xs:element minOccurs="0" name="invoiceDeliveryOptionID" nillable="true" type="xs:long"/>
      <xs:element minOccurs="0" name="paymentPlanID" nillable="true" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReadOnlyAccountDetail" type="accountdtns:ReadOnlyAccountDetail"/>
  <xs:complexType name="ReadOnlyAccountDetail">
    <xs:complexContent>
      <xs:extension base="accountdtns:AccountDetail">
        <xs:sequence>
          <xs:element minOccurs="0" name="suspensionReason" type="xs:string">
            <xs:annotation>
              <xs:documentation>Reason that the account was suspended or terminated ('Suspended' and 'Inactive' states, respectively).</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AccountDetail" type="accountdtns:AccountDetail"/>
  <xs:complexType name="AccountDetail">
    <xs:complexContent>
      <xs:extension base="accountv1_1dtns:MutableAccountDetail">
        <xs:sequence>
          <xs:element name="role" type="xs:long">
            <xs:annotation>
              <xs:documentation>Account Role ID.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="accountType" type="xs:long">
            <xs:annotation>
              <xs:documentation>Account Type ID.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="groupType" type="accountdtns:GroupHierarchyType">
            <xs:annotation>
              <xs:documentation>The type of group represented by this account: subscriber (individual), group, or pooled group.  Introduced for TCB 9.0.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="systemType" type="dtns:SystemType">
            <xs:annotation>
              <xs:documentation>Account System type.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="vpnMobileNumber" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:documentation>VPN Mobile Number.  Only for VPN enabled account types.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AccountTypeReference" type="accountdtns:AccountTypeReference"/>
  <xs:complexType name="AccountTypeReference">
    <xs:sequence>
      <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:long">
        <xs:annotation>
          <xs:documentation>A unique identifier generated automatically when the account type is created.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="isBusiness" nillable="true" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>True if accounts of this type will only be used by businesses; false otherwise (i.e., accounts for personal use).  Deprecated.  No longer used in TCB 9.0.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="isIndividual" nillable="true" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>True if accounts of this type will serve as subscriber accounts; false if they will serve as group accounts.  Deprecated.  No longer used in TCB 9.0.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="isPooled" nillable="true" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>True if accounts of this type will only be used with pooled subscriptions balances.  Deprecated.  No longer used in TCB 9.0.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>A simple name for the account type.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="spid" nillable="true" type="xs:int">
        <xs:annotation>
          <xs:documentation>The ID of the service provider to which the account type belongs.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>A simple description of the account type.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="poolLimit" nillable="true" type="xs:long">
        <xs:annotation>
          <xs:documentation>The maximum amount of the group's balance which can be used by the member subscriber.  Optional - available to limited quota group-pooled accounts if licensed.  Deprecated.  No longer used in TCB 9.0.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="poolLimitStrategy" nillable="true" type="dtns:PoolLimitStrategy">
        <xs:annotation>
          <xs:documentation>The maximum amount of the group's balance which can be used by the member subscriber.  Optional - available to limited quota group-pooled accounts if licensed.  Deprecated.  No longer used in TCB 9.0.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="usageType" nillable="true" type="accountdtns:AccountCustomerType">
        <xs:annotation>
          <xs:documentation>References the usage type of the account (e.g., corporate, personal), etc. Introduced for TCB 9.0.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="isLetterOfDemandExempt" nillable="true" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>True if accounts assigned this category will not receive letters-of-demand; false otherwise.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="allowBillCycleChange" nillable="true" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>True if accounts of this type are permitted to request a change of bill cycle; false if the bill cycle may not be changed.  Introduced for TCB 9.0.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="prepaymentDepositRequired" nillable="true" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>True if accounts of this type require a prepayment deposit before they may be allowed to activate subscriptions; false otherwise.  Introduced for TCB 9.0.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountAgedDebt" type="accountdtns:AccountAgedDebt"/>
  <xs:complexType name="AccountAgedDebt">
    <xs:annotation>
      <xs:documentation>Describes the aged debt of a responsible postpaid account.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="periodDetails" nillable="true" type="accountdtns:AgedDebtPeriodDetail">
        <xs:annotation>
          <xs:documentation>Details of the aged debt per period.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="paymentsSinceLastInvoice" nillable="true" type="xs:long">
        <xs:annotation>
          <xs:documentation>Accumulated Payment Amount -- Sum of payments received since the last (most recent) invoice.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AgedDebtPeriodDetail" type="accountdtns:AgedDebtPeriodDetail"/>
  <xs:complexType name="AgedDebtPeriodDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="periodInvoiceDate" nillable="true" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>The invoice date associated with the period.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="debt" nillable="true" type="xs:long">
        <xs:annotation>
          <xs:documentation>The debt of the period.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DirectDebitInitiationResponse" type="accountdtns:DirectDebitInitiationResponse"/>
  <xs:complexType name="DirectDebitInitiationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="resultCode" nillable="true" type="accountdtns:DirectDebitInitiationResultType"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="parameters" nillable="true" type="dtns:GenericParameter"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReadOnlyAccountPaymentInfo" type="accountdtns:ReadOnlyAccountPaymentInfo"/>
  <xs:complexType name="ReadOnlyAccountPaymentInfo">
    <xs:complexContent>
      <xs:extension base="accountdtns:AccountPaymentInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="paymentDue" nillable="true" type="xs:dateTime"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AccountPaymentInfo" type="accountdtns:AccountPaymentInfo"/>
  <xs:complexType name="AccountPaymentInfo">
    <xs:complexContent>
      <xs:extension base="accountdtns:MutableAccountPaymentInfo">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MutableAccountPaymentInfo" type="accountdtns:MutableAccountPaymentInfo"/>
  <xs:complexType name="MutableAccountPaymentInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="paymentMethodTypeID" nillable="true" type="xs:long"/>
      <xs:element minOccurs="0" name="creditCardNumber" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="creditCardTypeID" nillable="true" type="xs:long"/>
      <xs:element minOccurs="0" name="expiryDate" nillable="true" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="holderName" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="bankID" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="debitBankTransit" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="debitAccountNumber" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="maximumDebitAmount" nillable="true" type="xs:long"/>
      <xs:element minOccurs="0" name="invoiceTaxType" nillable="true" type="accountv1_0dtns:TaxType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountReference" type="accountdtns:AccountReference"/>
  <xs:complexType name="AccountReference">
    <xs:sequence>
      <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="parent" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="responsible" nillable="true" type="xs:boolean"/>
      <xs:element minOccurs="0" name="spid" nillable="true" type="xs:int"/>
      <xs:element minOccurs="0" name="role" nillable="true" type="xs:long"/>
      <xs:element minOccurs="0" name="state" nillable="true" type="accountv1_0dtns:AccountState"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="parameters" nillable="true" type="dtns:GenericParameter"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BaseAccountExtension">
    <xs:complexContent>
      <xs:extension base="accountv1_1dtns:BaseMutableAccountExtension"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BaseReadOnlyAccountExtension">
    <xs:complexContent>
      <xs:extension base="accountdtns:BaseAccountExtension"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AccountBillCycleActivity" type="accountdtns:AccountBillCycleActivity"/>
  <xs:complexType name="AccountBillCycleActivity">
    <xs:sequence>
      <xs:element minOccurs="0" name="previousBillCycleID" nillable="true" type="xs:long"/>
      <xs:element minOccurs="0" name="previousBillCycleChange" nillable="true" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="currentBillCycleID" nillable="true" type="xs:long"/>
      <xs:element minOccurs="0" name="earliestPermittedNewBillCycleChange" nillable="true" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="scheduledBillCycleChange" nillable="true" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="scheduledBillCycleID" nillable="true" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountStateTransitionResult" type="accountdtns:AccountStateTransitionResult"/>
  <xs:complexType name="AccountStateTransitionResult">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="parameters" nillable="true" type="dtns:GenericParameter"/>
      <xs:element minOccurs="0" name="oldState" nillable="true" type="accountv1_0dtns:AccountState"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountStateTransitionException" type="accountdtns:AccountStateTransitionException"/>
  <xs:complexType name="AccountStateTransitionException">
    <xs:complexContent>
      <xs:extension base="exns:CRMException">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="parameters" nillable="true" type="dtns:GenericParameter"/>
          <xs:element minOccurs="0" name="oldState" nillable="true" type="accountv1_0dtns:AccountState"/>
          <xs:element minOccurs="0" name="requestedState" nillable="true" type="accountv1_0dtns:AccountState"/>
          <xs:element minOccurs="0" name="currentState" nillable="true" type="accountv1_0dtns:AccountState"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AccountForIDResult" type="accountdtns:AccountForIDResult"/>
  <xs:complexType name="AccountForIDResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="accountID" nillable="true" type="xs:string"/>
      <xs:element maxOccurs="unbounded" name="ids" nillable="true" type="generalprovv2_0dtns:IdentificationEntry"/>
      <xs:element minOccurs="0" name="state" nillable="true" type="accountv1_0dtns:AccountState"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountForIDResults" type="accountdtns:AccountForIDResults"/>
  <xs:complexType name="AccountForIDResults">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="results" nillable="true" type="accountdtns:AccountForIDResult"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="parameters" nillable="true" type="dtns:GenericParameter"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountProfileQueryResultsV2" type="accountdtns:AccountProfileQueryResultsV2"/>
  <xs:complexType name="AccountProfileQueryResultsV2">
    <xs:complexContent>
      <xs:extension base="accountdtns:AccountProfileQueryResults">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="parameters" nillable="true" type="dtns:GenericParameter"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AccountCugQueryResults" type="accountdtns:AccountCugQueryResults"/>
  <xs:complexType name="AccountCugQueryResults">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="cugDetails" nillable="true" type="accountdtns:CugDetails"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="parameters" nillable="true" type="dtns:GenericParameter"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CugDetails" type="accountdtns:CugDetails"/>
  <xs:complexType name="CugDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="cugId" nillable="true" type="xs:long"/>
      <xs:element minOccurs="0" name="cugOwnerMsisdn" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="cugTemplateName" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="isShortCodeEnabled" nillable="true" type="xs:boolean"/>
      <xs:element minOccurs="0" name="shortCodePattern" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="cugState" nillable="true" type="xs:int"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="cugMember" nillable="true" type="accountdtns:CugMember"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="parameters" nillable="true" type="dtns:GenericParameter"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CugMember" type="accountdtns:CugMember"/>
  <xs:complexType name="CugMember">
    <xs:sequence>
      <xs:element minOccurs="0" name="msisdn" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="shortCode" nillable="true" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="parameters" nillable="true" type="dtns:GenericParameter"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConvertBillingTypeRequest" type="accountdtns:ConvertBillingTypeRequest"/>
  <xs:complexType name="ConvertBillingTypeRequest">
    <xs:sequence>
      <xs:element name="currentAccountReference" type="accountdtns:CurrentAccountReference"/>
      <xs:element name="convertAccountReference" type="accountdtns:ConvertAccountReference"/>
      <xs:element minOccurs="0" name="convertSubscriptionDetail" type="subscriptiondtns:ConvertSubscriptionDetail"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="parameters" nillable="true" type="dtns:GenericParameter"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CurrentAccountReference" type="accountdtns:CurrentAccountReference"/>
  <xs:complexType name="CurrentAccountReference">
    <xs:sequence>
      <xs:element minOccurs="0" name="accountID" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="spid" nillable="true" type="xs:int"/>
      <xs:element minOccurs="0" name="systemType" nillable="true" type="dtns:SystemType"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="parameters" nillable="true" type="dtns:GenericParameter"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConvertAccountReference" type="accountdtns:ConvertAccountReference"/>
  <xs:complexType name="ConvertAccountReference">
    <xs:sequence>
      <xs:element name="billCycle" type="xs:int"/>
      <xs:element minOccurs="0" name="systemType" nillable="true" type="dtns:SystemType"/>
      <xs:element minOccurs="0" name="contact" type="accountv1_0dtns:AccountContactInfo"/>
      <xs:element minOccurs="0" name="identification" type="accountdtns:AccountIdentification"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="parameters" nillable="true" type="dtns:GenericParameter"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConvertBillingTypeResponse" type="accountdtns:ConvertBillingTypeResponse"/>
  <xs:complexType name="ConvertBillingTypeResponse">
    <xs:complexContent>
      <xs:extension base="commons_dtns:ExecuteResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="convertedBan" nillable="true" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="convertedSubscriptionRef" nillable="true" type="subscriptiondtns:SubscriptionReference"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="parameters" nillable="true" type="dtns:GenericParameter"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="accountFinancialInfo" type="accountdtns:accountFinancialInfo"/>
  <xs:complexType name="accountFinancialInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="pagekey" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="accountFinInfo" nillable="true" type="accountdtns:accountFinInfo"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="accountFinInfo" type="accountdtns:accountFinInfo"/>
  <xs:complexType name="accountFinInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ban" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="accountName" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="paymentDueDate" nillable="true" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="currentDebtAge" nillable="true" type="xs:int"/>
      <xs:element minOccurs="0" name="paymentPlan" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="paymentPlanAmount" nillable="true" type="xs:long"/>
      <xs:element minOccurs="0" name="taxClassName" nillable="true" type="xs:string"/>
      <xs:element default="true" name="isDunningExempted" type="xs:boolean"/>
      <xs:element minOccurs="0" name="nextDunningLevelDate" nillable="true" type="xs:dateTime"/>
      <xs:element default="true" name="papFlag" type="xs:boolean"/>
      <xs:element minOccurs="0" name="invoiceDeliveryOption" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="currentInvoice" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="nextInvoice" nillable="true" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="parameters" nillable="true" type="dtns:GenericParameter"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DuplicateAccountInfo" type="accountdtns:DuplicateAccountInfo"/>
  <xs:complexType name="DuplicateAccountInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACCOUNTID" type="xs:string"/>
      <xs:element minOccurs="0" name="STATUS" nillable="true" type="accountv1_0dtns:AccountState"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="parameters" nillable="true" type="dtns:GenericParameter"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubscriptionCount" type="accountdtns:SubscriptionCount"/>
  <xs:complexType name="SubscriptionCount">
    <xs:sequence>
      <xs:element name="responsibleCount" type="xs:int"/>
      <xs:element name="nonResponsibleCount" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>